@import "./../../styles/variables.scss";

.main-menu {
  display: flex;
  justify-content: center;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    color: $text-light;
    background-color: $secondary-color;
    font-size: 10px;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 9px;
    box-shadow: 0 0 10px 0 $accent-light;

    @include breakpoint-medium {
      font-size: 16px;
      margin: 0 4px;
      padding: 0.8rem;
      border-radius: 0 0 9px 9px;
    }
    @include breakpoint-large {
      width: 100px;
      font-size: 16px;
      margin: 0 0.8rem;
      padding: 0.8rem;
      border-radius: 0 0 9px 9px;
    }

    &.active {
      background-color: $secondary-color;
      color: $text-dark;
    }

    &:hover {
      background-color: $text-dark;
      color: $text-light;
    }
  }
}
