@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,400;1,700;1,900&family=Pacifico&display=swap");
@import "./variables.scss";

body {
  margin: 0;
  box-sizing: border-box;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  background-color: $accent-verlight;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .App {
    width: 100%;
    padding: 0 auto;
  }
}

h1 {
  font-family: $title-font;
  color: $text-dark;
  text-align: center;
  padding: 5px;
  margin: 1.2rem auto;
}
