$title-font: "Pacifico", cursive;
$body-font: "Mulish", sans-serif;

$primary-color: #867070;
$secondary-color: #d5b4b4;
$accent-light: #e4d0d0;
$accent-verlight: #f5ebeb;
$text-dark: #454545;
$text-light: #eeeeee;

//----- Responsive-----//
@mixin breakpoint($min-width) {
  @media screen and (min-width: $min-width) {
    display: flex;
    flex-wrap: wrap;
    @content;
  }
}

@mixin breakpoint-medium {
  @include breakpoint(480px) {
    @content;
  }
}

@mixin breakpoint-large {
  @include breakpoint(900px) {
    @content;
  }
}
