@import "./../../../styles/variables.scss";

.recipe-component {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2%;
  width: 100%;
  text-decoration: none;
  color: $text-dark;
  border-radius: 9px;

  h2 {
    font-size: 30px;
  }

  span {
    width: 50%;
  }

  // Breakpoints
  @include breakpoint-medium {
    width: calc(50% - 4rem);
  }

  @include breakpoint-large {
    width: calc(33% - 4rem);
  }
}
