@import "./../../../styles/variables.scss";

.recipe-component {
  box-sizing: border-box;
  background-color: white;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  text-decoration: none;
  color: $text-dark;

  h2 {
    font-size: 30px;
  }

  h3 {
    margin: 0 0 1rem 0;
    font-size: 1.3rem;
    color: $primary-color;
    font-weight: normal;
  }
}
