@import "./../../styles/variables.scss";

.recipe-page-container {
  background-color: white;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 20px;

  .recipe-page-total-time {
    display: flex;
    width: 100%;

    span {
      width: 50%;
    }
  }

  button {
    @include button-style {
      background-color: $warning-color;
    }
  }
}
