@import "./../../styles/variables.scss";

.add-recipe-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;

  .add-recipe-button {
    background-color: $secondary-color;
    color: $text-light;
    font-size: 16px;
    font-weight: bold;
    border-radius: 9px;
    padding: 0.6rem;
    border: 0 solid black;

    &:hover {
      background-color: $text-dark;
      color: $text-light;
    }
  }
}
